.div1 {
	width: 275px;
	height: 350px;
	margin: 10px;
	text-align: center;
	border: 2px solid black;
	box-sizing: border-box;
}

.div2 {
	width: 275px;
	height: 350px;
	margin: 10px;
	text-align: center;
	border: 2px solid black;
	box-sizing: border-box;
}

#ranked{
	background-color: #f44336;
	border: none;
	color: white;
	text-align: center;
}